{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="alert alert-dark mt-3">
        Pomóż nam uzyskać niezbędne środki. Do utrzymanie tego serwera potrzebujemy jeszcze: <strong>{{ (116 - amount) | format_currency('PLN') }}</strong>
    </div>

    <div class="alert alert-info mt-3">
        Informacja: Rangi nie dają przewagi w grze. Są to tylko zmiany kosmetyczne, oraz takie, które ułatwiające rogrywkę indywidualną.
        Więcej informacji znajdziesz w <strong><a class="text-dark" href="{{ path('rule') }}">Regulaminie</a></strong>.
    </div>

    {% include 'base/component/wallet.html.twig' %}

    <div class="item-list bg-mngame">
        <div class="container">
            <div class="row">
                {% for itemList in itemLists %}
                    {% if loop.index < 3 %}
                        {% include 'base/component/itemshop-recommended.html.twig' %}
                    {% else %}
                        {% include 'base/component/itemshop-other.html.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="prepaidModal">
        <div class="modal-dialog">
            <div class="modal-content bg-mngame">
                <div class="modal-header">
                    <h5 class="modal-title">Wybierz sposób płatności</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="paySafeCard-form" style="display: none;">
                        Jesteś w trakcie doładowywania konta prepaid.
                        Podaj kwotę za którą chcesz doładować swoje konto.

                        <div class="form-group">
                            <label class="w-100">Kwota doładowania
                                <input id="money" class="form-control w-" type="number" step="0.1" min="1" value="1"/>
                            </label>
                            <button class="btn btn-block btn-warning m-auto" data-toggle="modal"
                                    data-target="#paymentModal"
                                    data-dismiss="modal">Przejdź do płatnośći
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Doładownaie SMS</h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Doładownaie PaySafeCard</h5>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    Po zakończeniu płatności prosimy o chwilę cierpliwości. Jeśli&nbsp;wszytko przebiegnie
                    poprawnie,<br/>
                    to zostaniesz przekierowany na stronę podsumowania.
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="paymentModal">
        <div class="modal-dialog">
            <div class="modal-content bg-mngame">
                <div class="modal-header">
                    <h5 class="modal-title">Wybierz sposób płatności</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="paypal-button-container"></div>
                    <form action="{{ path('prepaid-status') }}" method="post" class="d-inline-block"
                          id="prepaid-payment-form" style="display: none !important;">
                        {% if wallet.cash is defined %}
                            {% if wallet.cash > 0 %}
                                <input id="prepaid-payment-form-input" type="hidden" name="itemListId">

                                <button class="btn btn-info btn-lg btn-block btn-prepaid" id="prepaid"
                                        type="submit">
                                    Zapłać z Prepaida
                                </button>
                            {% endif %}
                        {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                    Po zakończeniu płatności prosimy o chwilę cierpliwości. Jeśli&nbsp;wszytko przebiegnie
                    poprawnie,<br/>
                    to zostaniesz przekierowany na stronę podsumowania.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
