{% extends 'base/base.html.twig' %}

{% block body %}
    {% include 'base/component/notLogged.html.twig' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="wallet-container alert alert-success">
            <i class="fas fa-wallet"></i>
            Stan twojego konta wynosi: {{ wallet.cash | number_format(2) }} zł.
        </div>
    {% endif %}

    <div class="card bg-mngame">
        {% if responseType == 200 %}
            <div class="card-header">
                <h4 class="font-weight-bold">Otrzymaliśmy twój kod PaySafeCard</h4>
            </div>
            <div class="card-body">
                <h2 class="h3">Skontaktuj się z nami, lub poczekaj 24h w celu weryfikacji kodu!</h2>
                <br/>
                <h3 class="h3">Twoje konto automatycznie zostanie doładowane śrdokami, jeżeli są one dostępne.</h3>
            </div>
        {% else %}
            <div class="card-header">
                <h4 class="font-weight-bold">Wystąpił błąd podczas dodawania kodu PaySafeCard!</h4>
            </div>
            <div class="card-body">
                <h5 class="text-danger">Sprawdź, czy na pewno uzupełniłeś odpowiednie pole!</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}
