{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="card bg-mngame">
        <div class="card-header">
            Nowe hasło
        </div>
        <div class="card-body">
            <div class="col-lg-8 p-3 m-auto">
                {{ form_start(form, {action: link }) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

                <div id="recaptcha-component"></div>

                <button class="btn btn-warning btn-block w-100" type="submit">Zmień hasło</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
