{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="card bg-mngame">
        <div class="card-header">
            <h4 class="font-weight-bold">Zasady</h4>
        </div>
        <div class="card-body">
            {% for key, rule in ruleList %}
                <div class="pb-4">
                    <h5 id="{{ key }}" class="font-weight-bold mb-3 pl-3">{{ key }}</h5>
                    {% for r in rule %}
                        {{ r.description | raw }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

