{% extends "base/base.html.twig" %}

{% block body %}
    <div class="card bg-mngame mb-2">
        <div class="card-header">
            <h4 class="font-weight-bold">Wybierz podstrone</h4>
        </div>
        <div class="card-body">
            {{ include('base/component/user.menu.html.twig') }}
        </div>
    </div>

    {% block content %}
    {% endblock %}

{% endblock %}
