{% if is_granted('IS_ANONYMOUS') %}
    <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
        <i class="fa fa-exclamation-circle"></i> <span class="font-weight-bold">Jesteś nie zalogowany.</span> Nie masz możliwości wykonywać żadnych akcji, zaloguj się!
    </div>
{% endif %}
