<ol class="mb-0">
    <li><a class="p-2" href="{{ path('user-profile') }}">Podgląd profilu</a></li>
    <li><a class="p-2" href="{{ path('edit-profile') }}">Edytuj profil</a></li>
    <li><a class="p-2" href="{{ path('equipment-profile') }}">Ekwipunek</a></li>
</ol>
